.image-upload.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload__preview {
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
 /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;*/
}

.image-upload__preview img {
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
  /*object-fit: cover;*/
}
.inline__btn--img {
  width: 100%;
  margin: 2rem auto;
}
.inline__btn--container {
  width: 100%;
}