.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
}
.map__container {
  margin: 0;
  padding: 0;
}
.popup {
  background: white;
  color: #777;
}
