.tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;
  background-color: #faf9f9;
  width: 30rem;
  margin: 1.5rem;
}
.tour img {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.tour__name {
  grid-row: 1/ 2;
  z-index: 2;
  align-self: end;
  transform: translateY(50%);
  grid-column: 1 / -1;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #5643fa;
  color: #fff;
  font-weight: 400;
  width: 80%;
  justify-self: center;
}

.tour button {
  grid-column: 2 / -1;
  margin: 0.2rem;
}

.tour__location {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.icon__green {
  color: #55c57a;
}

.price__rating {
  font-size: 1.4rem;
  margin: 0.2rem;
}

.level {
  font-size: 1.5rem;
  margin: 1rem auto;
}
.tour__like {
  z-index: 2;
  margin: 1rem;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  height: 2.5rem;
  width: 2.5rem;
  justify-self: end;
  cursor: pointer;
  color: red;
}

.leave__review--heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right bottom,
    rgb(85, 197, 122, 0.9),
    rgb(126, 213, 111)
  );
  color: transparent;
  background-clip: text;
  display: inline-block;
  margin-left: 0.3rem;
}

.leave__review--container {
  width: 100%;
  grid-column: 1 /-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review--icon {
  cursor: pointer;
}

.review__center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.my__review--stars {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.user__info {
  background: #ccc;
}

.update__review {
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
}
.update__review--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
