.flights__container {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #faf9f9;
  padding: 5.2rem;
}
.flights__form {
  flex-basis: 70%;
}
.flights__form h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  color: transparent;
  background-clip: text;
  text-align: center; 
}
.sea__airplane__container {
  position: relative; 
}

.airplaneImg {
  width: 150%;
  position: absolute;
  top: -5%;
  left: -10%;
  z-index: 2;
}
.seaImg {
  object-fit: cover;
  width: 100%;
  height: 80%;
}

.label__container {
  display: flex;
  padding: 7rem 2rem 2rem 2rem;
  align-items: center;
  justify-content: center;
}
.label__container div {
  margin: 0 1rem;
  font-size: 1.6rem;
}
.input__container {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.icon--rotate {
  transform: rotate(180deg);
}
.icon__blue {
  color: #2998ff;
}
.select__class {
  width: 50%;
  font-size: 1.4rem;
}
.flights__form button {
  /*align-self: center;*/
  margin-left: 30%;
  margin-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.all__flights__btn {
  padding: 1.5rem 5rem;
}
.flightsAgencyCnt {
  background: #faf9f9;
  padding: 1rem;
}
.flights__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30%;
}
.blue__heading {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #5643fa, #2998ff);
  color: transparent;
  background-clip: text;
  display: block;
  width: 100%;
  text-align: center;
}
.blue__review {
  color: #5643fa;
}
.input__checkbox__container, .input__checkbox__container > * {
  cursor: pointer;
}
