.requestedFlights__container {
  background: #faf9f9;
  min-height: 100vh;
}
.flight__container {
  background: white;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  margin: 1rem 0;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
}
.selectTickets {
  font-size: 1.4rem;
}
.flight__info {
  display: flex;
  align-items: center;
}

.flight__img {
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
}
.flight__container {
  width: 100%;
  margin: 1rem auto;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}
.flight__container p {
  margin: 0.6rem 0;
  text-align: center;
  width: 70%;
}
.flight__container button {
  align-self: flex-end;
  margin: 0.5rem;
}
.bookNow__btn {
  margin: 2rem;
}
.from__to {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.review__flight {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review__flight h5 {
  width: 50%;
  font-size: 1.6rem;
}
.flight__rating__container {
  display: flex;
  align-items: center;
}
.flight__rating__container span {
  margin: 0 0.3rem;
  display: flex;
  align-items: center;
}

.flight__text__discount {
  height: 10rem;
  margin: 1rem 1rem;
}
.flight__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

@media (max-width: 950px) {
  .flight__container {
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .flight__info p,
  .from__to p {
    font-size: 1.6rem;
  }
  .flight__info,
  .from__to,
  .flight__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flight__buttons img {
    order: -1;
  }
  .flight__rating__container {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 100%;
    /*padding-left: 20%;*/
  }
  .myFlightReviewCnt {
    display: flex;
  }
  .review__flight {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }
  .review__flight h5 {
    display: block;
    width: 100%;
    font-size: 1.1rem;
  }
}
