.flightReviews__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 35fr));
}
.flight__review__item {
  margin: 1.5rem 0 0.75rem 0;
}
.finishedHeading--1 {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #2998ff, rgb(126, 213, 111));
  color: transparent;
  background-clip: text;
  display: block;
  text-align: center;
}

@media (max-width: 400px) {
  .blue__reviews {
    width: 100%;
  }
  .blue__heading {
    font-size: 1.4rem;
    width: 130%;
  }
  .single__review {
    display: grid;
  }
  .reviewStars {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .finishedHeading--1 {
    font-size: 1.5rem;
  }
}
