.flightReviews__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 36rem));
}
.flight__review__item {
  margin: 2.5rem 0 1.75rem 0;
}
.finishedHeading--1 {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #2998ff, rgb(126, 213, 111));
  color: transparent;
  background-clip: text;
  display: block;
  text-align: center;
}
