.types {
  display: flex;
  padding: 2rem;
  margin: 0 auto;
}
.type:active {
  border-bottom: 1px solid #ccc;
}

.type {
  margin: 0 1rem;
  cursor: pointer;
}
.active {
  border-bottom: 1px solid #ccc;
}
.finishedToursButton {
  margin: 5rem auto;
  text-align: center;
}

.topToursContent {
  margin: 0 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 1.5rem;
  row-gap: 4rem;
}
.finishedTours {
  border-top: 2px solid #eee;
  margin-top: 2rem;
}
.finished__heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #eb2f64, #ba265d);
  color: transparent;
  background-clip: text;
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 3rem;
}
.finished__tours__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 35rem));
}

@media (max-width: 593px) {
  .topToursContent {
    grid-column-gap: 4.5rem;
    row-gap: 2rem;
  }
}
