.wishlist__container {
  padding: 4rem;
  display: grid;
  background: #f4f2f2;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 35rem));
}
.my__wishlist--heading {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #eb2f64, #ff3366);
  color: transparent;
  background-clip: text;
  text-align: center;
}
.wish__data {
  margin: 2rem auto;
  text-align: center;
}
.wish__data h1 {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right bottom,
    rgb(85, 197, 122, 0.9),
    rgb(126, 213, 111)
  );
  color: transparent;
  background-clip: text;
}
