.notifications--container {
  padding: 2.5rem;
}
.notifications__header {
  display: flex;
  background: #faf9f9;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
}
.notifications__header h1 {
  text-transform: uppercase;
  background-image: linear-gradient(
    to right bottom,
    rgb(85, 197, 122, 0.9),
    rgb(126, 213, 111)
  );
  color: transparent;
  background-clip: text;
}
.notifications__header p {
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  cursor: pointer;
  font-size: 1.6rem;
  color: transparent;
  background-clip: text;
}

.notification__items {
  background: #eaf0f5;
  width: 100%;
  padding: 3rem;
}

.notification__item {
  display: flex;
  align-items: center;
  margin: 2rem 10%;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.notification__item img {
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  margin-left: 1rem;
}

.notification__item p {
  margin-left: auto;
  font-size: 1.6rem;
}
.not__read {
  background: red;
  width: 1rem;
  height: 1rem;
  border-radius: 100px;
}

.center__not__item {
  display: flex;
  width: 80%;
  align-items: center;
  background: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
.showMoreNotification__btn--1 {
  margin: 1rem auto;
  text-align: center;
}

@media (max-width: 47em) {
  .notifications--container {
    padding: 1.5rem;
  }
  .notifications__header p {
    font-size: 1.4rem;
  }
  .notifications__header h1 {
    font-size: 1.6rem;
  }
  .center__not__item {
    margin: 0.4rem 0;
    width: 90%;
  }
  .notification__item p {
    font-size: 1.4rem;
  }
}
