.settings__container {
  background: #f4f2f2;
  padding: 7rem 3rem;
  min-height: 100vh;
  width: 100%;
}
.settings__info {
  display: flex;
}

.user__links {
  flex-basis: 30%;
  background-image: linear-gradient(
    to left top,
    rgb(85, 197, 122, 0.9),
    rgb(126, 213, 111)
  );
  padding: 4rem;
}

.user__links li {
  list-style: none;
  display: flex;
  align-items: center;

  font-size: 1.7rem;
  color: white;
  font-weight: 100;
  margin: 1.5rem 0.5rem;
  margin-left: 0.7rem;
  position: relative;
  padding: 0.4rem;
  cursor: pointer;
  transition: all 0.4s ease;
  width: 100%;
}
.user__links li:hover {
  transform: translateX(1rem);
}

.icon__white {
  font-size: 2rem;
  color: white;
  margin-right: 1.2rem;
}
.user__info {
  flex: 0 0 70%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.user__info h1 {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right bottom,
    rgb(85, 197, 122, 0.9),
    rgb(126, 213, 111)
  );
  color: transparent;
  background-clip: text;
  display: block;
  width: 100%;
  text-align: center;
}
.user__info span {
  font-size: 1.5rem;
}

.user__info input {
  width: 60%;
}
.user__photo--container {
  display: flex;
  align-items: center;
}

.user__photo--container img {
  width: 6rem;
  height: 6rem;
}
.user__photo--container {
  margin-top: 1.5rem;
}
.inline__link {
  border: none;
}

.user__photo--image {
  margin: 2rem 0;
  margin-right: 4rem;
}
.user__info--fields {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user__info--fields input {
  width: 70%;
}

.save__btn {
  margin-left: auto;
  margin-bottom: 6rem;
}

.passwordChange__container {
  border-top: 1px solid #ccc;
  padding: 9rem 4rem;
  width: 100%;
}

.passwordChange__container input {
  width: 70%;
}
.password__fields {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 50em) {
  .settings__container {
    padding: 2rem 1rem;
  }
}

@media (max-width: 47em) {
  .user__links {
    padding: 2rem;
    font-size: 1.5rem;
  }
  .user__links li {
    font-size: 1.4rem;
  }
  .user__info h1 {
    font-size: 1.8rem;
  }
  .user__info input {
    width: 55%;
  }
  .user__info button {
    padding: 1.5rem 2rem;
  }
  .save__btn {
    margin-left: auto;
    margin-top: 1rem;
  }
  .passwordChange__container input {
    width: 60%;
  }
  .passwordChange__container {
    border-top: 1px solid #ccc;
    padding: 4rem 2rem;
    width: 100%;
  }
  .user__photo--container {
    flex-direction: column;
  }
}
.settings__link {
  transform: translateX(1rem);
}
@media (max-width: 42em) {
  .save__btn {
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .settings__info {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .user__info--fields input,
  .password__fields input {
    width: 85%;
  }
  .user__info--fields input:focus,
  .password__fields input:focus {
    width: 95%;
  }
}
