.agency__image {
  background: transparent;
  color: transparent;
  border-radius: 100px;
  width: 6rem;
  height: 6rem;
  border: 1px solid #ccc;
}

.agency__info .quick__facts {
  padding: 40% 10% 20% 4%;
}

.agency__about {
  padding-top: 40%;
}

.agency__description {
  margin: 4rem;
}

@media (max-width: 900px) {
  .agency__info .quick__facts {
    padding: 50% 15% 25% 8%;
  }
}
