.header {
  display: flex;
  padding: 1rem;
  align-items: center;
  border-bottom: 2px solid #ccc;
  width: 100%;
}

.heading__trillo {
  font-size: 1.8rem;
  margin: 0 2.2rem 0 0.7rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #5643fa, #ffb900);
  color: transparent;
  background-clip: text;
}

.forgot__heading {
  text-transform: uppercase;
  background-image: linear-gradient(
    to right bottom,
    rgb(85, 197, 122, 0.9),
    rgb(126, 213, 111)
  );
  color: transparent;
  background-clip: text;
  cursor: pointer;
  font-size: 1.35rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.heading-2 {
  font-size: 1.9rem;
  margin: 0 2.2rem 0 0.7rem;
}

.all {
  align-self: center;
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  flex-wrap: wrap;
}

.hidden__elements {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  color: #777;
  transition: all 0.4s ease;
}

.all:hover .hidden__elements {
  opacity: 1;
  visibility: visible;
}

.hidden__element {
  display: flex;
  align-items: center;
  margin: 1rem 0.2rem;
  cursor: pointer;
  color: #777;
  text-decoration: none;
}

.show {
  opacity: 1;
  margin-top: 125%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  font-size: 2rem;
  color: #333;
}

.hotels,
.flights,
.tours {
  font-size: 1.7rem;
  margin: 0 0 0 0.7rem;
}

.categories {
  font-size: 1.7rem;
  margin: 0 1rem 0 0.2rem;
}

.searchForm {
  margin-left: 4rem;
  padding: 0.3rem;
  flex: 0 0 35%;
  display: flex;
  align-items: center;
}

.search {
  background: #faf9f9;
  padding: 1rem;
  width: 95%;
  outline: none;
  border-radius: 70px;
  transition: all 0.5s ease;
  font-weight: 400;
  border: none;
}

.search:focus {
  border: none;
  outline: none;
  width: 100%;
  box-shadow: 0 0.7rem 0.7rem rgba(0, 0, 0, 0.3);
}

.search::-webkit-input-placeholder {
  color: #777;
  padding: 0.3rem;
}

.search__icon {
  margin-left: -3.5rem;

  color: #333;
  font-size: 2.1rem;
}
.pointer {
  cursor: pointer;
}
.not-allowed {
  cursor: not-allowed;
}

.impact {
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
  margin-right: auto;
}

.errorText {
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  margin: 0.4rem auto;
  color: #ff7730;
}

.reset__error {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
  color: #ffb900;
}

.heading__flights {
  font-size: 1.5rem;
  cursor: pointer;
}


.navigation1 {
    display: none;
  }

  @media (max-width: 1000px) {
    .searchForm {
      flex: 0 0 30%;
    }
  }

@media (max-width: 975px) {
  .navigation1 {
    display: block;
  }

  .searchForm {
    flex: 0 0 45%;
  }
  .logInSignUpBtns {
    display: none;
  }


.navigation__checkbox1 {
   display: none;
}
 .navigation__button1 {
   background-color: #fff;
   height: 7rem;
   width: 7rem;
   position: fixed;
   top: 1.5rem;
   right: 3.5rem;
   border-radius: 50%;
   z-index: 2000;
   box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
   text-align: center;
   cursor: pointer;
}
 .navigation__background1 {
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   position: fixed;
   top: 2rem;
   right: 4rem;
   background-image: radial-gradient(#7ed56f, #28b485);
   z-index: 1000;
   transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
 .navigation__nav1 {
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1500;
   opacity: 0;
   width: 0;
   transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   visibility: hidden;
}
 .navigation__list1 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   list-style: none;
   text-align: center;
   width: 100%;
}
 .navigation__item1 {
  margin: 1rem;
}
 .navigation__link1:link, .navigation__link1:visited {
   display: inline-block;
   font-size: 2.5rem;
   font-weight: 300;
   padding: 1rem 2rem;
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
   background-size: 220%;
   transition: all 0.4s;
}
 .navigation__link1:link span, .navigation__link1:visited span {
   margin-right: 1.5rem;
   display: inline-block;
}
 .navigation__link1:hover, .navigation__link1:active {
   background-position: 100%;
   color: #55c57a;
   transform: translateX(1rem);
}
 .navigation__checkbox1:checked ~ .navigation__background1 {
   transform: scale(80);

}
 .navigation__checkbox1:checked ~ .navigation__nav1 {
   opacity: 1;
   width: 100%;
   visibility: visible;
}
 .navigation__icon1 {
   position: relative;
   margin-top: 3.5rem;
}
 .navigation__icon1, .navigation__icon1::before, .navigation__icon1::after {
   width: 3rem;
   height: 2px;
   background-color: #333;
   display: inline-block;
}
 .navigation__icon1::before, .navigation__icon1::after {
   content: "";
   position: absolute;
   left: 0;
   transition: all 0.2s;
}
 .navigation__icon1::before {
   top: -0.8rem;
}
 .navigation__icon1::after {
   top: 0.8rem;
}
 .navigation__button1:hover .navigation__icon1::before {
   top: -1rem;
}
 .navigation__button1:hover .navigation__icon1::after {
   top: 1rem;
}
 .navigation__checkbox1:checked + .navigation__button1 .navigation__icon1 {
   background-color: transparent;
}
 .navigation__checkbox1:checked + .navigation__button1 .navigation__icon1::before {
   top: 0;
   transform: rotate(135deg);
}
 .navigation__checkbox1:checked + .navigation__button1 .navigation__icon1::after {
   top: 0;
   transform: rotate(-135deg);
}

.flexLink {
  display: flex;
  align-items: center;
}
.flexLink span {
  margin: 0 .4rem;
}


.userProfile {
  display: flex;
  align-items: center;
}
.impact {
  display: none;
 }
 

}


@media (max-width: 660px) {
 .heading__flights {
  display: none;
 }

 
 .navigation__button1 {
   background-color: #fff;
   height: 7rem;
   width: 7rem;
   position: fixed;
   top: 4.5rem;
   right: 3.5rem;
   border-radius: 50%;
   z-index: 2000;
   box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
   text-align: center;
   cursor: pointer;
}
 .navigation__background1 {
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   position: fixed;
   top: 5rem;
   right: 4rem;
   background-image: radial-gradient(#7ed56f, #28b485);
   z-index: 1000;
   transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__link1:link, .navigation__link1:visited {
  
   font-size: 2rem;
  
}


 
}

@media (max-width: 500px) {
  .searchForm input {
   margin-left: -2rem;
   flex: 1;
  }
}

