.header {
  display: flex;
  padding: 1rem;
  align-items: center;
  border-bottom: 2px solid #ccc;
  width: 100%;
}
.heading__trillo {
  font-size: 1.8rem;
  margin: 0 2.2rem 0 0.7rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #5643fa, #ffb900);
  color: transparent;
  background-clip: text;
}

@media (max-width: 900px) {
  .searchForm {
    order: 2;
    flex-basis: 0 0 100%;
    align-self: center;
  }
  .search {
    padding: 1rem 5rem;
  }
  .header {
    flex-wrap: wrap;
  }
}

.forgot__heading {
  text-transform: uppercase;
  background-image: linear-gradient(
    to right bottom,
    rgb(85, 197, 122, 0.9),
    rgb(126, 213, 111)
  );
  color: transparent;
  background-clip: text;
  cursor: pointer;
  font-size: 1.35rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.heading-2 {
  font-size: 1.9rem;
  margin: 0 2.2rem 0 0.7rem;
}

.all {
  align-self: center;
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  flex-wrap: wrap;
}

.hidden__elements {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  color: #777;
  transition: all 0.4s ease;
}

.all:hover .hidden__elements {
  opacity: 1;
  visibility: visible;
}

.hidden__element {
  display: flex;
  align-items: center;
  margin: 1rem 0.2rem;
  cursor: pointer;
  color: #777;
  text-decoration: none;
}

.show {
  opacity: 1;
  margin-top: 125%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  font-size: 2rem;
  color: #333;
}

.hotels,
.flights,
.tours {
  font-size: 1.7rem;
  margin: 0 0 0 0.7rem;
}

.categories {
  font-size: 1.7rem;
  margin: 0 1rem 0 0.2rem;
}

.searchForm {
  margin-left: 4rem;
  padding: 0.3rem;
  flex: 0 0 35%;
  display: flex;
  align-items: center;
}

.search {
  background: #faf9f9;
  padding: 1rem;
  width: 95%;
  outline: none;
  border-radius: 70px;
  transition: all 0.5s ease;
  font-weight: 400;
  border: none;
}

.search:focus {
  border: none;
  outline: none;
  width: 100%;
  box-shadow: 0 0.7rem 0.7rem rgba(0, 0, 0, 0.3);
}

.search::-webkit-input-placeholder {
  color: #777;
  padding: 0.3rem;
}

.search__icon {
  margin-left: -3.5rem;

  color: #333;
  font-size: 2.1rem;
}
.pointer {
  cursor: pointer;
}
.not-allowed {
  cursor: not-allowed;
}

.impact {
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
  margin-right: auto;
}

.errorText {
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  margin: 0.4rem auto;
  color: #ff7730;
}

.reset__error {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
  color: #ffb900;
}

.heading__flights {
  font-size: 1.5rem;
  cursor: pointer;
}
