/*.bookings__hover {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #777;
  text-align: center;
  transition: all 0.02s ease;
  margin-right: 0.3rem;
}
.user__content__entire {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookings__container {
  display: flex; 
  margin-right: auto;
   margin-left: -10%; 
  align-self: flex-start;
  justify-self: center;
}

.my__booking__items {
  display: none;
  margin: 0.5rem 0rem;
  max-height: 20rem;
  overflow-y: scroll;
  background: #faf9f9;
}


.bookings__container:hover .bookings__hover {
  border-bottom: 2px solid #ccc;
  align-self: center;
}
.my__booking_item {
  flex: 1;
  display: flex;
}
.my__booking_item {
  object-fit: cover;
  margin: 2rem 0;
  padding: 0.5rem 1rem;
}
.my__booking_item img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-left: 2rem;
}

.heart {
  text-align: left;
  color: red;
}

.wish__length {
  padding: 0.3rem;
  font-size: 1.2rem;
  color: white;
  background: red;
  border-radius: 50%;
}

.wishlist_item img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-left: 2rem;
}

.wishlist__container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: center;
}
.wishlist__items {
  display: none;
  margin: 0.5rem 0rem;
  max-height: 20rem;
  overflow-y: scroll;
  background: #faf9f9;
}
.wishlist__container:hover .wishlist__items {
  display: block;
}

.shopping_item img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-left: 2rem;
}

.shopping__container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: center;
}

.shopping__items {
  display: none;
  margin: 0.5rem 0rem;
  max-height: 20rem;
  overflow-y: scroll;
  background: #faf9f9;
}

.shopping__container:hover .shopping__items {
  display: block;
}

.hidden {
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

.shopping__cart {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #777;
  text-align: center;
  transition: all 0.02s ease;
  margin-right: 0.3rem;
  display: inline-block;
  background: red;
}

.cart {
  text-align: left;
  color: #777;
}


*/

.wishlist__content {
  margin: 0 2rem;
}
.user__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my__bookings__container {
  display: flex;
  align-items: center;
}
.user__profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0rem;
}

.user__profile img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin: 0;
}
.heart {
  color: red;
  cursor: pointer;
}

.my__bookings__container {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.my__bookings__container:hover {
  transform: translateY(-2px);
}

.my__bookings__container h1 {
  font-size: 1.4rem;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}
.wishlist__content {
  position: relative;
  margin: 0 4rem;
  transition: all 0.4s ease-in-out;
}
.wishlist__content:hover {
  transform: translateY(-2px);
}

.wish__length {
  padding: 0.3rem;
  font-size: 1.2rem;
  color: white;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: -30%;
  right: -60%;
}

.shopping__container {
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  margin: 0 2rem;
}
.shop {
  color: #333;
  cursor: pointer;
}

.shopping__container:hover {
  transform: translateY(-2px);
}
.cart__length,
.notify__length {
  font-size: 1.4rem;
  border-radius: 100px;
  color: #ccc;
}

.user__profile {
  transition: all 0.2s ease;
  cursor: pointer;
}

.user__profile:hover {
  transform: translateY(-1px);
}

.seperator {
  width: 4rem;
  height: 0.05rem;
  background: #ccc;
  transform: rotate(-90deg);
  margin: 0 1.2rem;
}

.notifications__container {
  display: flex;
  margin-right: 1.4rem;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.notifications__container:hover {
  transform: translateY(-1px);
}

.notify {
  font-size: 2.3rem;
}

.heart9 {
  padding: 0.3rem;
  font-size: 1rem;
  color: white;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: -35%;
  right: -60%;
}

@media (max-width: 975px) {
  .user__content {
    display: none;
  }
}